{% extends 'base.html' %}

{% block style %}
    <style>
    .bg{
        background-image: url("/src/img/bg2.jpg");
    }
    </style>
{% endblock %}

{% block mus %}
    <div id="mus">
        <audio src="{{ url_for('static',filename='src/music/game_music.mp3') }}" autoplay="autoplay" preload="auto" controls="controls" loop="loop"></audio>
    </div>
{% endblock %}

{% block Scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='src/js/test.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}


