<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>飞机大战</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/style.css') }}"/>
	</head>
	<body>
		<div id="main">
			<div id="mus">
				<audio src="{{ url_for('static', filename='src/music/game_music.mp3') }}" autoplay="autoplay" preload="auto" controls="controls" loop="loop"></audio>
			</div>
			<div id="title">
                <span id="span1">飞机大战</span>
				<img src="{{ url_for('static', filename='src/img/loading8.png') }}"/>
			</div>
			<div id="begin">
				<a href="{{ url_for('choose') }}"><img src="{{ url_for('static', filename='src/img/start_menu.png') }}"/></a><br>
                <a href="{{ url_for('index') }}" style="margin-left: 50px; color: sandybrown">切换账号</a>
			</div>
		</div>
	</body>
</html>
